### Procesamiento de los datos
###    2) Considere el conjunto de datos “data2” del fichero data_exam1.xlsx
#### ° Realice un análisis exploratorio de datos, tanto univariante como bivariante ¿Qué puede decir acerca del comportamiento distribucional de cada variable? ¿Considera que la dispersión bivariante da indicios para generar un modelo de regresión para Y? Justifique detalladamente.

#### ° De acuerdo al análisis del ítem anterior proponga una transformación (raiz, potencia, logarítmica, sinusoidal, etc.) para alguna de las variables y justifique por qué. Dado lo anterior, proponga un modelo de regresión lineal, interpretelo y valide los supuestos del modelo 
εi iid∼ N(0, σ2)

In [2]:
# Importar bibliotecas necesarias
import pandas as pd # pandas me sirve para leer los dataset
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta
from pandas import DataFrame

In [6]:
datos = pd.read_excel(r'C:\Users\kenny\examen1_analisis_cuantitativo\data\data_exam1.xlsx', sheet_name='data2')
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       1000 non-null   float64
 1   X       1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [7]:
len(datos)

1000

In [9]:
datos.isnull().sum()

Y    0
X    0
dtype: int64

In [10]:
datos.describe()

                 Y             X
count  1000.000000  1.000000e+03
mean      9.445622  7.234805e-02
std       3.908189  9.753985e-02
min     -12.073239  1.343729e-08
25%       7.411486  8.450417e-03
50%      10.072134  3.655172e-02
75%      12.082546  9.992523e-02
max      17.838788  9.397465e-01